/* Reset de estilos */
body, h1, h2, p, ul, li, form, button {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.header, .footer {
  background-color: #6a1b9a; /* Morado oscuro */
  color: #fff;
  padding: 10px;
  text-align: center;
  width: 100%;
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container,
.url-list-container {
  max-width: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #555;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.button-purple {
  background-color: #6a1b9a; /* Morado oscuro */
  color: #fff;
}

.button-purple:hover {
  background-color: #4a1473; /* Cambio de color al pasar el ratón */
}

.messages,
.error,
.success {
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.messages {
  list-style: none;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
}

.error {
  color: #a94442;
  background-color: #f2dede;
  border: 1px solid #ebccd1;
}

.success {
  color: #3c763d;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
}

.footer {
  background-color: #9c27b0; /* Morado */
  color: #fff;
  padding: 10px;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.body-background {
  background-image: url('../img/img.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.url-list-container h1 {
  color: #333;
}

.url-list-container ul {
  list-style: none;
  padding: 0;
}

.url-list-container li {
  margin-bottom: 10px;
  font-size: 16px;
  color: #555;
}

.url-list-container p {
  color: #555;
}
