/* Estilos para el título de la página */
h1 {
  font-size: 24px;
  text-align: center;
  margin: 20px 0;
}

/* Estilos para los campos del formulario */
.form-field {
  margin: 10px 0;
}

/* Estilos para el botón "Guardar" */
.save-button {
  display: block;
  text-align: center;
  background-color: #0077cc;
  color: #fff;
  padding: 10px;
  text-decoration: none;
  margin: 20px 0;
  border-radius: 5px;
}

.save-button:hover {
  background-color: #005599;
}
