{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Crear/Actualizar Odontólogo</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/odontologo_form.css' %}">
</head>
<body>
    <h1>Crear/Actualizar Odontólogo</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-field">
            {{ form.nombre.label_tag }} {{ form.nombre }}
        </div>
        <div class="form-field">
            {{ form.especialidad.label_tag }} {{ form.especialidad }}
        </div>
        <button type="submit" class="save-button">Guardar</button>
    </form>
</body>
</html>
