{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <title>Lista de URLs</title>
    <!-- Agrega el enlace para cargar Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
</head>
<body class="body-background">
    <div class="wrapper">
        <header class="header">
            <h2>Ortodoncia XYZ</h2>
        </header>

        <div class="content">
            <div class="url-list-container">
                <h1>Lista de URLs Disponibles</h1>
                <ul>
                    {% for url in url_list %}
                        <li>{{ url }}</li>
                    {% empty %}
                        <p>No hay URLs disponibles.</p>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <footer class="footer">
            <p>&copy; 2023 Ortodoncia XYZ</p>
        </footer>
    </div>
</body>
</html>
